.description {
  margin: 0 auto;
  width: 80%;
  padding: 3rem 0;
  color: var(--clr-neutral-700);
  
  &__first-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
